/* https://datos.comunidad.madrid/catalogo/organization/comunidad-de-madrid */

body {
  background-color: #f8f5dc;
  margin: 0;
  padding: 0;
  height: 100vh;
  line-height: 1.35;
  color: #403b3b;
  font-family: "Raleway", sans-serif;
}
.logotipo > img {
  width: 9%;
}
.dropdown-menu {
  background-color: #f1e87b;
}
.dropdown-menu > a:hover {
  background-color: #f6eda1;
}
.lead {
  margin-top: -1em;
  margin-left: 0.2em;
}
.media-body {
  padding: 1em;
}
.inactivo {
  opacity: 0.3;
}

.color1 {
  color: #1ab859;
}
.color2 {
  color: #7fc94b;
}
.color3 {
  color: #cfd856;
}
.color4 {
  color: #f1e87b;
}
.color5 {
  color: #f6eda1;
}

.btn-primary {
  background-color: #7fc94b !important;
  border: 1px solid  #1ab859 !important ;
}
.jumbotron {
  background-image: url("/img/fondoJumbo2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.jumbo {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
.breadcrumb {
  background-color: #f6eda1;
}
.navbar {
  background-color: #7fc94bc9;
  text-shadow: 2px 1px 1px rgba(255, 255, 255, 0.397);
}
.foto {
  width: 100%;
  height: 9em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.fotoCupra {
  background-image: url("/img/cupraceas.jpg");
}
.fotoOlea {
  background-image: url("/img/olea.jpg");
}
.fotoPlat {
  background-image: url("/img/platanus.jpg");
}
.fotoCMad {
  background-image: url("/img/cmadridPolen.png");
}
.fotoSubi {
  background-image: url("/img//clinicSubsu.png");
}
.fotoPoligam {
  background-image: url("/img/redPoligam.png");
}

a {
  list-style: none;
  color: black;
}
a:hover {
  text-decoration: none !important ;
  list-style: none !important;
  color: black;
}
.active {
  font-weight: bold;
}
.breadcrumb {
  margin-top: -4em;
}
.videoIframe{
    width: 50%;
}
button{
  border: none !important;
  outline: none!important;
}
.btnPopO{
  border: 1px solid grey !important;
}
.carousel-item{
  height: 30em;
}
.imgCaroulsel{
  display: block;
  width: 100%;
  height: 30em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.imgCaroulsel1{
  background-image: url('/img/cupraceas.jpg');
}
.imgCaroulsel2{
  background-image: url('/img/olea.jpg');
}
.imgCaroulsel3{
  background-image: url('/img//platanus.jpg');
}
.pTextoCaroul{
  position: relative;
  top: 3em;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-size: 3em;

}
/* calendario-tabla */
.altos {
  color: red;
  font-weight: bold;
}
.medios {
  color: orange;
  font-weight: bold;
}
.bajos {
  color: blue;
}

/* scroll tabla */

table::-webkit-scrollbar {
    width: 10px;
  }
  
  table::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  table::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
  }
  
  table::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }

  /* formulario */
.form1{
 display: flex;
 justify-content: space-between;
 align-items: flex-start;
  
}
.formularioSt{
  background-color: #cfd856;
  border: 7px solid #1ab859;
  padding: 0.5em;
}
.pregunta{
  border: 1px solid #1ab859 ;
  padding: 0.5em;
}
.nav2 {
  margin-right: auto;
}
.footer > div > a {
  color: black;
}
.footer {
  background-color: #cfd856;
  color: black;
  height: 5em;
  padding: 2em 2em 0em 2em;
}

/* guia */
.liLit{
  margin-top: 0.3em !important;
  font-size: 0.8em !important;
}

/* responsive */
@media (max-width: 767.98px) { 
.img2{
  width: 90%;
}
.img3{
  width: 100%;
}
.media{
  flex-direction: column;
}
.embed-responsive{
  margin: auto !important;
}
.media-body{
  text-align: center;
}
.paTable{
  width: 90%;
}
.paForm{
  width: 90%;
}

/* navbar responsive */
  .navMovil1{
    width: 100%;
    display: flex !important;
    flex-direction: row !important ;
    justify-content: space-between !important;
    align-items: center;
  }
  .nav1{
    text-align: end;
  }
  .navbar {
    background-color: #7fc94b;
  }
  .nav-link:focus{
    text-decoration: underline !important ; 
  }

  .footer {
    font-size: 0.7em;
    height: 10em;
    flex-direction: column;
    padding: 2em 2em 5em 2em;
  }
  .footer>div {
  
    padding-bottom: 1em;
  }
  


}
